*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body{
    background-color: #3498DB;
}

.darkmode{
    background-color: gray;
}

.container{
    padding-top: 2.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


form :where(input,button)
{
    height: 50px;
    margin-bottom: 10px;
    border: none;
    font-size: 20px;
}
form{
    display: flex;
    justify-content: center;
}

form input{
    width: 40%;
    border-radius: 10px;
}

form input:focus{
    outline: none;
}


form button{
    background-color: #FF5275;
    color: white;
    width: 80px;
    border-radius: 8px;
    margin-left: 10px;
}


.container .gifResultBox{
    padding : 2% ;
    align-self: center;
    margin: 10px;
    border-radius: 15px;
    background-color: white;
    min-width: none;
    max-width: 80%;
    height: fit-content;
}

@media (max-width: 750px){
    .container .gifResultBox{
        max-width: 95%;
    }

    form{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.5rem;
    }


    form input{
        width: 70%;
        margin: 2px;
    }

    form button{
        width: 70%;
        margin: 2px;
        margin-left: 0;
    }

}

@media (max-width: 450px){
    .gifs{
        height: auto;
        width: 100%;
    }
}