/* Home page css starts here */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows:1fr 7fr 2fr ;
}


/*content styling starts here*/

.content{
    position: relative;
    background-color: #3498DB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0;
    z-index: -1;
}

.content .largeText{
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 116px;
}

.content .largeText .largeWhiteText{
    color: white;
}

.content .largeText .largeRedText{
    color: #FF5275;
}
.about{
    max-width: 760px;
}

.aboutText
{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 39px;
    text-align: center;
}
/*content styling ends here*/

/*Footer styling starts here*/

footer{
    color: white;
    background-color: #1E1E1E;
    display: flex;
    justify-content: center;
}

footer .details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    font-style: normal;
    text-align: center;
}


.details >*{
    width: 100%;
}

.details .socialIcons{
    display: flex;
    justify-content: space-evenly;
}


footer .creator{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.copyright{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #C7C7C7;
}

.creatorText{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #3498DB;
}

.name{
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    color: #FF5275;
}

.internship{
    font-weight: 400;
    font-size: 20px;
}
.email{
    font-style: normal;
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding: 10px;
}
.contact
{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Footer styling ends here*/

/*header styling starts here*/

header{
    background-color: #FF5275;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

/*navigation styling*/
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style: none;
    border-radius: 5px;
}

.navigation li a{
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding: 1rem;
    display: block;
}

.navigation li:hover{
    background-color: #ff7c97;
}


/*Logo styling*/
.logo{
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.logoIcon img{
    height: 50px;
    width: 50px;
}

.logoText{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    margin-left: 10px;
}

.logoText .whiteText{
    color: white;
}

.logoText .blueText{
    color: #3498DB;
}

/*header styling ends here*/

